PORT=3000
NODE_ENV=production

JWT_SECRET=0c9575d037de6a126be06bf5e8da372c923edd26c52b7dc952fc5ffb56829deb
JWT_EXPIRES_IN=1h
FRONTEND_URL=http://localhost:5173

DB_HOST=mysql
DB_PORT=3306
DB_USER=scynara_user
DB_PASSWORD=scynara_password
DB_NAME=scynara
MYSQL_ROOT_PASSWORD=root_password
