PORT=3000
NODE_ENV=production

JWT_SECRET=cambia-este-secreto-en-tu-env-local
JWT_EXPIRES_IN=1h
FRONTEND_URL=http://localhost:5173

DB_HOST=mysql
DB_PORT=3306
DB_USER=scynara_user
DB_PASSWORD=scynara_password
DB_NAME=scynara
MYSQL_ROOT_PASSWORD=root_password
